[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask-cors = "*"
pygithub = "*"
pymongo = "*"
marshmallow = "*"
dnspython = "*"
apscheduler = "*"
astunparse = "*"
tensorflow = "==2.9.3"
multimodal-keras-wrapper = "*"
comgenwebserver = {editable = true,path = "."}

[requires]
python_version = "3.7.5"
